[project]
	description = brosphere
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexandre Careil (hhalex)
[access "refs/for/refs/*"]
	read = group user/Alexandre Careil (hhalex)
	push = group user/Alexandre Careil (hhalex)
	label-Code-Review = -2..+2 group user/Alexandre Careil (hhalex)
	label-Verified = -1..+1 group user/Alexandre Careil (hhalex)
	rebase = group user/Alexandre Careil (hhalex)
	removeReviewer = group user/Alexandre Careil (hhalex)
	submit = group user/Alexandre Careil (hhalex)
[access "refs/heads/*"]
	read = group user/Alexandre Careil (hhalex)
	create = group user/Alexandre Careil (hhalex)
	push = +force group user/Alexandre Careil (hhalex)
	pushMerge = group user/Alexandre Careil (hhalex)
[access "refs/tags/*"]
	push = +force group user/Alexandre Careil (hhalex)
	pushTag = group user/Alexandre Careil (hhalex)
	pushSignedTag = group user/Alexandre Careil (hhalex)
